<!-- The toolbar of our app -->
<mat-toolbar>
 <span>Trazabilidad</span>
 <span class="example-spacer"></span>
</mat-toolbar>


<div class="main-body">
  <mat-grid-list cols="3" rowHeight="5:1">
    <mat-grid-tile>t_habitante.py</mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>indexado de habitantes</mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>version 3.10</mat-grid-tile>
  </mat-grid-list>

  <form>
    <div class="field">
      <mat-form-field appearance="outline">
        <mat-label>Problema</mat-label>
        <input matInput type="text" placeholder="i.e David" formControlName="problem">
      </mat-form-field>
    </div>
    <div class="field">
      <mat-form-field appearance="outline">
        <mat-label>Hipotesis</mat-label>
        <input matInput type="text" placeholder="i.e David" formControlName="hipothesis">
      </mat-form-field>
    </div>
    <div class="field">
      <mat-form-field appearance="outline">
        <mat-label>Info</mat-label>
        <input matInput type="text" placeholder="i.e David" formControlName="info">
      </mat-form-field>
    </div>
    <div class="field">
      <mat-form-field appearance="outline">
        <mat-label>Resultado</mat-label>
        <input matInput type="text" placeholder="i.e David" formControlName="hipothesis">
      </mat-form-field>
    </div>   
<!--     <div class="field">
      <mat-form-field appearance="outline">
        <mat-label>Conclusion</mat-label>
        <input matInput type="text" placeholder="i.e David" formControlName="conclusion">
      </mat-form-field>
    </div>     -->       
  </form>
</div>